<!-- Work-item for list of works-->
      <div class="project">
        <div class="col-md-8 col-md-push-5 animate-box" data-animate-effect="fadeInLeft">
          <img class="img-responsive" src="/assets/images/{{ project.image }}" alt="work">
        </div>
        <div class="col-md-4 col-md-pull-8 animate-box" data-animate-effect="fadeInRight">
          <div class="mt">
            <h3><a href="{{ project.url | relative_url }}">{{ project.menu_name }}</a></h3>
            <p>{{ project.description }}</p>
            <ul class="list-nav">
              {% if project.category %}
              <li><i class="icon-check"></i>{{ project.category }}</li>
              {% endif %}
              {% if project.tag %}
              <li><i class="icon-check"></i>{{ project.tag }}</li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
