
// Services
.service {
	background: $brand-bg-gray;
  padding: 20px;
  margin-top: -60px;

}

.service-main {
  margin-top: 40px;
  margin-bottom: 40px;

	h3 {
		color: $brand-primary;
    margin-top: 20px;
  }
}


// Projects
#item-detail img {
	max-width: 100%;
	padding: 1em;
}


// Related
.related {
	padding: 5em;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
}

.related-title {
	text-transform: uppercase;
	color: $brand-darker;
	text-align: center;
	margin-bottom: 2em;
}

.related-image img {
	width: 100%;
		@media screen and (max-width: $screen-sm) {
		margin: 3em 0em;
	}
}


// Blog
.post-image img {
	width: 100%;
	border: 1px solid #8a4419;
	border-style: inset;
}

.post-image {
    margin-top: 3em;
		position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

.post-image::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

.blog-grid{
	background-size: cover;
	background-position: center center;
	position: relative;
	width: 100%;
	height: 350px;
	float: left;
	display: table;
	margin-bottom: 40px;
	.desc{
		position: relative;
		display: table-cell;
		vertical-align: middle;
		padding: 20px;
		width: 100%;
		height: 350px;
		background: rgba($brand-black,.5);
		opacity: 0.5;
		@include transition(.2s);
		@media screen and (max-width: $screen-sm){
			opacity: 1;
		}
		h3{
			margin-bottom: 10px;
			a{
				color: $brand-white;
				&:hover, &:focus{
					text-decoration: none;
				}
			}
		}
		.excerpt {
			font-size: 12px;
			color: rgba($brand-white,.6);
			margin-bottom: 20px;
			display: block;
		}
		.cat{
			font-size: 12px;
			text-transform: uppercase;
			color: rgba($brand-white,.6);
			letter-spacing: 2px;
			margin-bottom: 20px;
			display: block;
		}
		p{
			padding: 0;
			a{
				padding: 10px;
				color: $brand-white;
				&:hover, &:focus{
					text-decoration: none;
				}
			}
		}
	}

	&:hover{
		.desc{
			opacity: 1;
		}
	}
}
