---
layout: default
---

{% include header.html %}

<!-- Page Content -->
	<div id="fh5co-about-section">

		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6">
						<img class="img-responsive" src="/assets/images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-1">
						<div class="desc">
							{{ content }}
						</div>
					</div>
				</div>
			</div>
<!-- Staff --->
      <div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Meet Our Staff</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>

      <div class="row">
      {% for worker in site.data.staff %}
      <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
        <div class="fh5co-staff">
          <img src="/assets/images/{{ worker.picture }}" alt="{{ worker.name }} picture">
          <h3>{{ worker.name }}</h3>
          <strong class="role">{{ worker.role }}</strong>
          <p>{{ worker.bio }}</p>
          <ul class="fh5co-social-icons">
            <li><a href="{{ worker.facebook }}"><i class="icon-facebook"></i></a></li>
            <li><a href="{{ worker.twitter }}"><i class="icon-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      {% endfor %}
      </div>

		</div>
	</div>
