<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="page">

    {% include nav.html %}

		<div class="wrapper">
<!-- Main Content -->
        {{ content }}
<!-- End main Content -->
    </div>


    {% include newsletter.html %}

    {% include footer.html %}

  </div>

    <!-- Go top button -->
    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    {% include jquery.html %}

  </body>

</html>
