---
layout: default
---

<!-- Hero -->
    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(assets/images/img_bg_1.jpg);">
  		<div class="overlay"></div>
  		<div class="container">
  			<div class="row">
  				<div class="col-md-10 col-md-offset-1 text-center">
  					<div class="display-t">
  						<div class="display-tc animate-box" data-animate-effect="fadeIn">
  							<h1>{{ site.title }}</h1>
  							{% if site.claim %}<h2>{{ site.claim }}</h2>{% endif %}

                <!-- Hero button -->
                <p><a href="#" class="btn btn-default">View Our Work</a></p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</header>

<!-- Page Content -->

<!-- Highlighted Services --->
	<div class="container">
		<div class="row">
			<div id="fh5co-section">
				<div class="col-nineth">
					<div class="row">

            <!-- This loops through the Highlighted Services -->
            {% for service in site.services %}
							{% if service.highlighted == true %}
              <div class="col-third">
  							<div class="col-md-12">
  								<span class="icon">
  									<i class="icon-{{ service.icon }}"></i>
  								</span>
  								<div class="desc">
  									<h3>{{ service.name }}</h3>
  									<p>{{ service.claim }}</p>
  									<p><a href="{{ service.url }}" class="btn btn-primary">Learn More</a></p>
  								</div>
  							</div>
  						</div>
							{% endif %}
					  {% endfor %}

					</div>
				</div>
        <!-- Video -->
				<div class="col-forth fh5co-video fh5co-bg" style="background-image: url(/assets/images/image_1.jpg)">
					<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
						<div class="overlay"></div>
				</div>

			</div>
		</div>
	</div>

<!-- Features --->
	<div class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div id="fh5co-features-2">
					<div class="col-feature-9">
						<div class="row">
							<div class="col-md-12 fh5co-heading animate-box">
								<h2>Core Features</h2>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
						<!-- Features picture 1-2-3 -->
						<div class="row">
							<div class="col-md-7 col-sm-7 col-md-pull-2 col-sm-pull-2 animate-box" data-animate-effect="fadeInRight">
								<div class="feature-image">
									<img src="/assets/images/work_1.png" alt="work">
								</div>
							</div>
							<div class="col-md-5 col-sm-5">
								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
									<div class="feature-copy">
										<h3>Retina Ready</h3>
										<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
									</div>
								</div>

								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
									<div class="feature-copy">
										<h3>Fully Responsive</h3>
										<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
									</div>
								</div>

								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
									<div class="feature-copy">
										<h3>Ready To Use</h3>
										<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Counter -->
					<div class="col-feature-3">
						<div id="fh5co-counter" class="fh5co-bg fh5co-counter">
							<div class="row">
								<div class="display-t">
									<div class="display-tc">
										<div class="col-md-12 animate-box">
											<div class="feature-center">
												<span class="counter js-counter" data-from="0" data-to="2200" data-speed="5000" data-refresh-interval="50">1</span>
												<span class="counter-label">Creativity Fuel</span>

											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="feature-center">
												<span class="counter js-counter" data-from="0" data-to="97" data-speed="5000" data-refresh-interval="50">1</span>
												<span class="counter-label">Happy Clients</span>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="feature-center">
												<span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
												<span class="counter-label">Projects Done</span>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="feature-center">
												<span class="counter js-counter" data-from="0" data-to="4523" data-speed="5000" data-refresh-interval="50">1</span>
												<span class="counter-label">Hours Spent</span>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

<!-- Highlighted Works --->
	<div id="fh5co-portfolio">
	  <div class="container">
	    <div class="row animate-box">
	      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
	        <h2>Finished Projects</h2>
	        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
	      </div>
	    </div>
	    <div class="row">

<!-- This loops through the projects -->
	      {% for project in site.projects limit:4 %}
	      	<div>{% include work-item.html %}</div>
	      {% endfor %}

	    </div>
	  </div>
	</div>
<!-- Testimonial --->
	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Testimonial</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="testimony">
						<blockquote>
							&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius&rdquo;
						</blockquote>
						<p class="author"><cite>John Doe</cite></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="testimony">
						<blockquote>
							&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius&rdquo;
						</blockquote>
						<p class="author"><cite>Rob Smith</cite></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="testimony">
						<blockquote>
							&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius&rdquo;
						</blockquote>
						<p class="author"><cite>Jane Doe</cite></p>
					</div>
				</div>
			</div>
		</div>
	</div>
