---
layout: default
---

<!-- Project Header -->
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/assets/images/{{ page.image }});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>{{ page.menu_name }}</h1>
            <h2>
              {{ page.category }} | {{ page.tag }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->
<div id="fh5co-section">
  <div class="container">
    <div class="row animate-box col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 service-main">
        <div id="item-detail">
        <h3>{{ page.description }}</h3>
          {{ content }}
      </div>
    </div>
    <!-- Related projects -->
    <div class="row col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1 related">
      <h3 class="related-title">Related projects</h3>
        {% for project in site.projects %}
          {% if project.category == page.category %}
            {% if project.menu_name != page.menu_name %}
              {% include work-item.html %}
            {% endif %}
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
