---
layout: default
---
{% include header.html %}

<!-- Page Content -->

		<div id="fh5co-services-section">
			<div class="container">
				<div class="about-content">

					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-{{ page.icon }}"></i>
								</span>
								<h3>{{ page.claim }}</h3>
							</div>
						</div>
					</div>
				<!-- Service Content -->
					<div class="row animate-box">
						<div class="col-md-6">
							<img class="img-responsive" src="{{ page.image }}" alt="{{ page.image-alt }}">
						</div>
						<div class="col-md-6 col-md-pull-1">
							<div class="service">
								{{ page.abstract }}
							</div>
						</div>
					</div>
					<div class="row animate-box col-md-10 col-md-offset-1 service-main">

							{{ content }}

					</div>
			</div>

				<!-- Submenu services -->
						<div class="row center">
						{% for service in site.services %}
							{% if service.name != page.name %}
								<div class="col-md-1 col-md-offset-1 col-sm-3 col-sm-offset-2 col-xs-8 col-xs-offset-2">
									<h5><a href="{{ service.url }}" class="btn btn-primary">
										<span class="icon"><i class="icon-{{ service.icon }}"></i>
										</span>{{ service.name }}</a>
									</h5>
								</div>
							{% endif %}
					  {% endfor %}
				</div>


		</div>
	</div>
