---
layout: default
---

{% include header.html %}

<!-- Page Content -->
	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Finished Project</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<!-- This loops through the projects -->
						{% for project in site.projects %}
								<div class="col-md-4 col-sm-4 text-center animate-box">
									<div class="work-grid" style="background-image: url(/assets/images/{{ project.image }});">
										<div class="desc">
											<h3><a href="{{ project.url }}">{{ project.menu_name }}</a></h3>
											<span class="cat">{{ project.category }}</span>
											<p>
												<span class="download"><a href="#"><i class="icon-download"></i></a></span>
												<span class="love"><a href="#"><i class="icon-heart"></i></a></span>
											</p>
										</div>
									</div>
								</div>
						{% endfor %}
			</div>
		</div>
	</div>
